<% @result["result"]["event"].each do |event| %>
<h3><%= event["name"] %></h3>
    <div>
      <%= Time.at(event["hours"]["hour"][0].to_i).strftime("%H:%M") %>
      <%= event["startAt"] %>
      <%= event["endAt"] %>
    </div>
<div>
<p>Место проведения: <%= event["details"]["place"]["namePlace"] %></p>
<a target="_blank" href="http://<%= event["details"]["place"]["webPages"][0]%>"><%= event["details"]["place"]["webPages"][0]%></a>
<% if event["details"]["place"]["address"]!= nil %>
<%= event["details"]["place"]["address"]["address"] %>
	<% event["details"]["place"]["contacts"].each do |f| %>
         <div><%= f["contact"]["comment"] %> - 8 (<%= f["contact"]["code"] %>) <%= f["contact"]["value"] %></div>
      <% end %>
<% end %>
</div>
<div>
  <%=raw event["description"].to_s %>
</div>

<div>
<% if event["details"]["photo"]!= nil %>
    <div>
      <% event["details"]["photo"]["images"].each_with_index do |eve, index| %>
        <% if index<4 %>
            <%= image_tag(eve["image"][0]["url"])%>
        <% end %>
       <% end %>
    </div>
    <a id="all" >Показать еще</a>
    <div id="imge" style="display:none">
        <% event["details"]["photo"]["images"].each_with_index do |eve, index| %>
            <% if index>3 %>
                <%= image_tag(eve["image"][0]["url"])%>
            <% end %>
        <% end %>
    </div>
<% end %>
</div>
<% end %>
<script>
  $('#all').click(function(){
      $(this).hide();
      $('#imge').css({'display': 'block'});
  });
</script>