<% @result["result"]["event"].each do |event| %>
<h3><%= event["name"] %></h3>
    <div>
      <%= Time.at(event["hours"]["hour"][0].to_i).strftime("%H:%M") %>
      <%= event["startAt"] %>
      <% if event["endAt"] != event["startAt"] %> <%= event["endAt"] %> <% end %>
    </div>
<div>
<p>Место проведения: <%= event["details"]["place"]["namePlace"] %></p>
<a target="_blank" href="http://<%= event["details"]["place"]["webPages"][0]%>"><%= event["details"]["place"]["webPages"][0]%></a>
<% if event["details"]["place"]["address"]!= nil %>
<%= event["details"]["place"]["address"]["address"] %>
	<% event["details"]["place"]["contacts"].each do |f| %>
         <div>
		<%= f["contact"]["comment"] %> - 8 (<%= f["contact"]["code"] %>) 
		<%= f["contact"]["value"] %>
	 </div>
      <% end %>
<% end %>
</div>
<div>
  <%=raw event["description"].to_s %>
</div>


<% if event["details"]["photo"]!= nil %>
<div id="MainContent">

      <ul id="Gallery" class="gallery">

        <% event["details"]["photo"]["images"].each_with_index do |eve, index| %>
            <% if index<4 %>
            <li><a href="<%= eve["image"][2]["url"] %>"><%= image_tag(eve["image"][0]["url"])%></a></li>
            <% end %>
            <% if index>3 %>
                <li><a href="<%= eve["image"][2]["url"] %>"><%= image_tag(eve["image"][0]["url"], style:"display:none", class:"imge" ) %></a></li>
            <% end %>
        <% end %>
      </ul>
      <a id="all" >Показать еще</a>
    </div>
<% end %>

<% end %>


<script>
    $('#all').click(function(){
        $(this).hide();
        $('.imge').css({'display': 'block'});
    });
</script>


<script type="text/javascript">

    (function(window, $, PhotoSwipe){

        $(document).ready(function(){

            var options = {};
            $("#Gallery a").photoSwipe(options);

        });


    }(window, window.jQuery, window.Code.PhotoSwipe));

</script>