<% @result["result"]["event"].each do |film| %>

<h3><%= film["name"] %></h3>
<div>
  <%= video_tag(film["details"]["trailer"], size:"450x300")%>
  <p><%= film["details"]["country"] %></p>
</div>

<div>
<p><b>Продолжительность:</b><i> <%= film["details"]["duration"] %> мин.</i></p>
<p><b>Описание:</b><i> <%= film["description"] %></i></p>
<p><b>В ролях:</b><i> <%= film["details"]["actors"] %></i></p>
<p><b>Режиссер:</b><i> <%= film["details"]["director"] %></i></p>
<p><b>Жанр:</b><i> <%= film["details"]["genres"] %></i></p><br>
</div>

<div>
 <ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#clock" role="tab" data-toggle="tab">Рассписание</a></li>
 </ul>
 <div class="tab-content">
   <div class="tab-pane active col-xs-12" id="clock">
    <% film["details"]["schedules"]["schedule"].each do |fil| %>
     <div>
            <div>
               <b> <%= fil["cinema"]["namePlace"] %></b>
                <%= fil["cinema"]["address"]["address"] %>
            </div>
            <a target="_blank" href="http://<%= fil["cinema"]["webPages"][0] %>"><%= fil["cinema"]["webPages"][0] %></a>
            <div>
          <% fil["halls"]["hall"].each do |fi| %>
           <% fi["hours"]["sessions"].each do |f| %>
            <button type="button" class="btn btn-primary btn-xs" style="margin: 3px; min-width: 80px;">
		<%= Time.at(f["hour"].to_i).strftime("%H:%M") %>
              <% if f["threeD"] == true %>
                  3D
              <% end %>
	    </button>
           <% end %>
                <% end %>
            </div>
            <% fil["cinema"]["contacts"].each do |f| %>
            <div>
              <%= f["contact"]["comment"] %> - 8 (<%= f["contact"]["code"] %>) <%= f["contact"]["value"] %>
            </div>
            <% end %>
     </div>
    <% end %>
 </div>
 </div>
</div>
<div>
<div>
<% film["details"]["filmShots"]["images"].each_with_index do |fim, index| %>
 <% if index<4 %>
  <%= image_tag(fim["image"][0]["url"])%>
 <% end %>  
<% end %>
</div>
<a id="all" >Показать еще</a>
<div id="imge" style="display:none">
<% film["details"]["filmShots"]["images"].each_with_index do |fim, index| %>
 <% if index>3 %>
  <%= image_tag(fim["image"][0]["url"])%>
 <% end %>  
<% end %>
</div>
</div>
<% end %>
<script>
    $('#all').click(function(){
        $(this).hide();
        $('#imge').css({'display': 'block'});
    });
</script>